<%-include('partials/header') %>


<h1 class="dasboardHeading">Subject Name</h1>

<div class="dropdown utilities">
  <button class="btn btn-secondary dropdown-toggle AssigmentButton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Assigments
  </button>

  <ul class="dropdown-menu AssigmentLIST" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Assigment 1</a></li>
    <li><a class="dropdown-item" href="#">Assigment 2</a></li>
    <li><a class="dropdown-item" href="#">Assigment 3</a></li>
  </ul>


</div>

<div class="dropdown utilities">
  <button class="btn btn-secondary dropdown-toggle AssigmentButton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Tests
  </button>

  <ul class="dropdown-menu AssigmentLIST" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Tests 1</a></li>
    <li><a class="dropdown-item" href="#">Tests 2</a></li>
    <li><a class="dropdown-item" href="#">Tests 3</a></li>
  </ul>


</div>

<div class="joinClass">
  <button type="button" class="btn btn-outline-warning">Join Class</button>
</div>

<%- include('partials/footer') %>
