<%-include('partials/header') %>

<h1 class="dasboardHeading">Dashboard</h1>



<div class="row subjectsROW">
  <div class="col ">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/english.png" alt="">
      <div class="card-body">
        <h5 class="card-title">English</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>
        <form method="post" action="/english">

          <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary" value="English">View</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/compscience.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Computer Science</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>
        <form method="post" action="/cs">
          <a href="./dashboard" class="card-link"><button type="submit" class="btn btn-primary" value="Computer Science" name="cs">View</button></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem; ">
      <img src="images/chem.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Chemistry</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="./dashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/physics.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="./dashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/maths.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Mathematics</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="./dashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
      </div>
    </div>
  </div>
</div>
























<%- include('partials/footer') %>
