<%- include('partials/headerbl') %>
<div class="container-fluid" style="overflow-y:hidden;">
  

  <div class="landing-content">
    <img src="images\logo.png" class="landing-headimage" alt="">
    <h1 class="landing-heading">Don’t change your learning just change a way of learning</h1>
    <p class="landing-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <a class="btn btn-primary btn-lg landing-getstarted" href="/signup" role="button">Get started for free</a>
  </div>

<%- include('partials/footerbl') %>
