<%- include('partials/headerbl') %>
<div class="container-fluid" style="overflow-y:hidden;">


  <div class="landing-content">
    <img src="images\logo.png" class="landing-headimage" alt="">
    <h1 class="landing-heading">Don’t change your learning just change a way of learning</h1>
    <p class="landing-subheading">Paathshala is an interactive online education platform which aims to provide an easier access to education.
It has features like signup and login, which make it more secure, assignment submission, test submission, taking online test, video conferencing,
It has a user-friendly user interface which is very convenient to use for anyone.</p>
    <a class="btn btn-primary btn-lg landing-getstarted" href="/signup" role="button">Get started for free</a>
  </div>

<%- include('partials/footerbl') %>
