<%- include('partials/header') %>

 <div class="assignments">
   <h1 class="dasboardHeading">ASSIGNMENTS</h1>
 <form action="/upload" method="post" enctype="multipart/form-data">
   <div class="mb-3">
     <label for="name1" class="form-label">Name</label>
     <input type="text" class="form-control" name="Assignment" >
  </div>
   <div class="mb-3">
     <label for="date1" class="form-label">Submission Date:</label>
     <input type="date" class="form-control" name="Assignment" >
   </div>
   <div class="mb-3">
     <label for="attachment1" class="form-label">Submission Date:</label>
     <input type="file" class="form-control" name="file_upload" >
   </div>
   <button class="btn btn-primary">Submit</button>
 </form>
 </div>

 <div class="assignments">
   <h1 class="dasboardHeading">TESTS</h1>
 <form action="/upload" method="post" enctype="multipart/form-data">
   <div class="mb-3">
     <label for="name1" class="form-label">Name</label>
     <input type="text" class="form-control" name="Assignment" >
  </div>
   <div class="mb-3">
     <label for="date1" class="form-label">Submission Date:</label>
     <input type="date" class="form-control" name="Assignment" >
   </div>
   <div class="mb-3">
     <label for="attachment1" class="form-label">Submission Date:</label>
     <input type="file" class="form-control" name="avatar" >
   </div>
   <button class="btn btn-primary">Submit</button>
 </form>
 </div>










<%- include('partials/footer') %>
