<%- include('partials/header') %>
<h1 class="dasboardHeading">Dashboard</h1>



<div class="row subjectsROW">
  <div class="col ">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/english.png" alt="">
      <div class="card-body">
        <h5 class="card-title">English</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="/teachersdashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
        <!-- <a href="#" class="card-link"><button type="button" class="btn btn-dark">Join Class</button></a> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/compscience.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Computer Science</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="/teachersdashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
        <!-- <a href="#" class="card-link"><button type="button" class="btn btn-dark">Join Class</button></a> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem; ">
      <img src="images/chem.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Chemistry</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="/teachersdashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
        <!-- <a href="#" class="card-link"><button type="button" class="btn btn-dark">Join Class</button></a> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/physics.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="/teachersdashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
        <!-- <a href="#" class="card-link"><button type="button" class="btn btn-dark">Join Class</button></a> -->
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card subjectCards" style="width: 22rem;">
      <img src="images/maths.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Mathematics</h5>
        <h6 class="card-subtitle mb-2 text-muted">Teacher Name</h6>

        <a href="/teachersdashboard" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
        <!-- <a href="#" class="card-link"><button type="button" class="btn btn-dark">Join Class</button></a> -->
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
