<%- include('partials/header') %>

<div class="assignments">
  <h1 class="dasboardHeading">ASSIGNMENTS</h1>

  <form action="/uploadassteacher" method="post" enctype="multipart/form-data">
    <label>Name:</label>
    <br>
    <input type="text" name="Assignment_name" value="">
    <br>
    <label>Submission Date:</label>
    <br>
    <input type="text" name="Assignment_date" value="">
    <br>
    <label>Attachment:</label>
    <br>
    <input type="file" name="file_upload">
    <button>Submit</button>
  </form>
</div>

<div class="assignments">
  <h1 class="dasboardHeading">TESTS</h1>
  <form action="/uploadtestteacher" method="post" enctype="multipart/form-data">
    <label>Name:</label>
    <br>
    <input type="text" name="Assignment" value="">
    <br>
    <label>Submission Date:</label>
    <br>
    <input type="text" name="Assignment" value="">
    <br>
    <input type="file" name="avatar">
    <button>Submit</button>
    <!-- </form>  -->
</div>
</form>










<%- include('partials/footer') %>
