<%- include('partials/header') %>


 <div class="assignments">
   <h1 class="dasboardHeading">ADD ASSIGNMENTS</h1>
 <form action="/uploadassteacher" method="post" enctype="multipart/form-data">
   <div class="mb-3">
     <label for="name1" class="form-label">Assignment Name</label>
     <input type="text" class="form-control" name="Assignment_name" value="">
  </div>
   <div class="mb-3">
     <label for="date1" class="form-label">Submission Date:</label>
     <input type="date" class="form-control" name="Assignment_date" value="" >
   </div>
   <div class="mb-3">
     <label for="attachment1" class="form-label">Submission Date:</label>
     <input type="file" class="form-control" name="file_upload" >
   </div>
   <center>
   <button class="btn btn-primary">Submit</button>
   </center>
 </form>
 </div>

 <div class="assignments">
   <h1 class="dasboardHeading">ADD TESTS</h1>
 <form action="/uploadtestteacher" method="post" enctype="multipart/form-data">
   <div class="mb-3">
     <label for="name1" class="form-label">Test Name</label>
     <input type="text" class="form-control" name="Assignment" >
  </div>
   <div class="mb-3">
     <label for="date1" class="form-label">Submission Date:</label>
     <input type="date" class="form-control" name="Assignment" >
   </div>
   <div class="mb-3">
     <label for="attachment1" class="form-label">Submission Date:</label>
     <input type="file" class="form-control" name="avatar" >
   </div>
  <center>
   <button class="btn btn-primary" >Submit</button>
 </center>
 </form>
 </div>









<%- include('partials/footer') %>
