body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  background-color: #E8ECEF;
}
.dashboardNav{
  background-color: #E8ECEf;
}
.subjectsROW{
  background-color: #E8ECEF;
  padding-top: 1vw;
  text-align: center;
}
.subjectCards{
   margin-left: auto;
   margin-right: auto;
   margin-top: 1.5vw;
   margin-bottom: 1.5vw
}
.dasboardHeading{
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight:bold;
}
.utilities{
  text-align: center;
  padding: 3rem;
}
.AssigmentLIST{
  width: 57%;
  text-align: center;
}
.AssigmentButton{
  width:60%;
}
.joinClass{
  text-align: center;
  padding-top: 2vw;
}
