body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  background-color: #E8ECEF;
}

.assignments{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  margin-left: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
}
